<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Learning Management System</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://db.onlinewebfonts.com/c/5c5a257758cff0acee4d28ff555f3bc5?family=Helvetica" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>

<body class="font-sans bg-gray-100">
    <%- include('flash-messages.ejs') %>
    <nav class="bg-black text-white text-center py-4">
        <div class="flex justify-between items-center container mx-auto">
            <div class="text-left list-none">
                <li class="text-2xl font-semibold px-4"><a href="/" style="font-family: serif; letter-spacing: 2px;" class="hover:underline">lms</a></li>
            </div>
            <div>
                <a class="text-white px-4 py-2 mr-2  hover:bg-gray-900" href="/profile"><i class="fa-regular fa-user" style="color: #ffffff;"></i></a>
                <a class="text-white px-4 py-2 mr-2  hover:bg-gray-900" href="/signout"><i class="fa-solid fa-arrow-right-from-bracket" style="color: #ffffff;"></i></a>
            </div>
        </div>
    </nav>

    <div class="welcome mt-2 p-1 mx-auto">
        <div class="bg-gray-200 p-6  flex justify-between">
            <p class="sm:text-xl font-semibold">Hello <%= responseBody.username %>! what are you teaching today?</p>
            <p class="sm:text-xl font-semibold"><%= new Date().toISOString().slice(0,10) %></p>
        </div>
    </div>

    <div class="mt-4 p-4 mx-auto flex justify-evenly gap-4">
        <div class="flex-1 navigate-crud bg-gray-200 p-6 w-xs  flex flex-col items-center gap-4">
            <p class="sm:text-xl font-semibold">Create a new course</p>
            <a class="bg-black text-white px-4 py-2 mr-2  hover:bg-indigo-600" href="/create-course">Create Course></a>
        </div>
        <div class="flex-1 navigate-crud bg-gray-200 p-6  flex w-xs flex-col items-center gap-4">
            <p class="sm:text-xl font-semibold">Go to your analytics Dashboard</p>
            <a class="bg-black text-white px-4 py-2 mr-2  hover:bg-blue-500" href="/analytics-dashboard">Analytics></a>
        </div>
    </div>

    <br>

    <p class="p-5 sm:text-xl font-semibold">Your Courses</p>

    <div class="p-6 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <% for (var course of returnCourses) { %>
            <div class="bg-gray-200 p-6  flex flex-col items-center gap-2">
                <p class="text-xl font-semibold"><%= course.courseName %></p>
                <p class="text-gray-700">Start Date: <%= course.startDate %></p>
                <p class="text-gray-700">End Date: <%= course.endDate %></p>
                <a href="/view-course/<%= course.id %>" class="bg-black text-white px-4 py-2 mr-2  hover:bg-gray-900">Course Actions></a>
            </div>
        <% } %>
    </div>
    




</body>

</html>
