<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Learning Management System</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://db.onlinewebfonts.com/c/5c5a257758cff0acee4d28ff555f3bc5?family=Helvetica" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="font-sans bg-gray-100">

    <nav class="bg-black text-white text-center py-4">
        <div class="flex justify-between items-center container mx-auto">
            <div class="text-left list-none">
                <li class="text-2xl font-semibold px-4"><a href="/" style="font-family: serif; letter-spacing: 2px;" class="hover:underline">lms</a></li>
            </div>
            <div>
                <a class="text-white px-4 py-2 mr-2 rounded-md hover:bg-gray-900" href="/profile"><i class="fa-regular fa-user" style="color: #ffffff;"></i></a>
                <a class="text-white px-4 py-2 mr-2 rounded-md hover:bg-gray-900" href="/signout"><i class="fa-solid fa-arrow-right-from-bracket" style="color: #ffffff;"></i></a>
            </div>
        </div>
    </nav>

    <div class="welcome mt-2 p-1 mx-auto">
        <div class="bg-gray-200 p-6 rounded-md flex justify-between">
            <p class="sm:text-xl font-semibold">Hello <%= responseBody.username %>! What are you learning today?</p>
            <p class="sm:text-xl font-semibold"><%= new Date().toISOString().slice(0,10) %></p>
        </div>
    </div>

        <%- include('flash-messages.ejs') %>
    <div class="container mx-auto mt-8">
        <h2 class="text-2xl font-semibold mb-4">Your Courses</h2>
        <div class="container mx-auto mt-8">
        
            <% if (userCourses) { %>

                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                    <% userCourses.forEach(course => { %>
                        <div class="bg-white p-4 rounded-md shadow-md flex flex-col items-center gap-1">
                            <h2 class="text-xl font-bold mb-2 text-center"><%= course.courseName %></h2>
                            <p class="text-gray-700">Start Date: <%= course.startDate %></p>
                            <p class="text-gray-700">End Date: <%= course.endDate %></p>   
                            <p class="text-gray-700">Instructor: <%= course.instructor %></p>
                            <a href="/course-outline/<%= course.id %>" class="bg-black text-white mt-4  px-6 py-3 font-bold hover:bg-gray-900">Go to Course</a>

                        </div>
                    <% }) %>
                </div>
            <% } else { %>

                <p class="text-gray-700">You are not enrolled in any courses yet.</p>
            <% } %>
        </div>
    </div>

    <div class="container mx-auto mt-8">
        <h2 class="text-2xl font-semibold mb-4">Explore Courses</h2>
        <p>Want to check out all the courses we have to offer?</p>
        <a href="/explore-courses" class="bg-black flex justify-center text-white mt-4  px-6 py-3 font-bold hover:bg-gray-900">Explore</a>
    </div>

</body>

</html>
