<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page <%= page.pageNo %> - <%= page.title %> - Page View</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="font-sans bg-gray-100">
    <%- include('flash-messages.ejs') %>

    <div class="container mx-auto mt-8 p-4">

        <div class="mb-8">
            <h2 class="text-3xl font-bold mb-2">Page <%= page.pageNo %> - <%= page.title %></h2>
            <div class="text-gray-700">
                <% page.content.split('\n').forEach(line => { %>
                    <%= line %><br>
                  <% }) %>
                  
            </div>
        </div>

        <div class="flex justify-between items-center">
            <button class="bg-black text-blue-100 px-4 py-2 font-bold hover:bg-gray-900">
                <a href="/chapter-overview/<%= chapter.id %>">Go back to chapter</a>
            </button>

            <button class="bg-black text-green-100 px-4 py-2  font-bold hover:bg-gray-900">
                <% if (!currStatus) { %>
                    <a href="/status/<%= page.id %>">Mark As Complete</a>
                <% } else { %>
                    <p>Completed</p>
                <% } %>
            </button>

            <button class="bg-black text-blue-100 px-4 py-2 font-bold hover:bg-gray-900">
                <a href="/course-outline/<%= course.id %>">Go back to Course</a>
            </button>
        </div>
    </div>

</body>

</html>
