<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= course.courseName %> - Course Overview</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="font-sans bg-gray-100">

    
    <%- include('flash-messages.ejs') %>
    <div class="container mx-auto mt-8 p-4">

        <div class="text-center mb-8">
            <h2 class="text-3xl font-bold mb-2"><%= course.courseName %></h2>
            <p class="text-gray-700 mb-4">Instructor: <%= instructor.firstName %> <%= instructor.lastName %></p>
        </div>

        <a href="/enroll/<%= course.id %>" class="bg-blue-500 text-white px-8 py-4 rounded-full font-bold hover:bg-blue-600 mb-4 inline-block flex justify-center">Register for this course></a>
        <div class="mb-4">
            <p class="text-gray-700 font-semibold mb-2">Tags:</p>
            <div class="flex space-x-2">
                <% course.tags.forEach(tag => { %>
                    <div class="bg-gray-200 p-2 rounded-md"><%= tag %></div>
                <% }) %>
            </div>
        </div>

        <div>
            <p class="text-gray-700 mb-4">Enrollment Deadline: <%= course.enrollmentDeadline %></p>
            <p class="text-gray-700 mb-4">Start Date: <%= course.startDate %></p>
            <p class="text-gray-700 mb-4">End Date: <%= course.endDate %></p>
            <p class="text-gray-700 mb-4">Description: <%= course.description %></p>
        </div>

        <div class="mt-8">
            <h2 class="text-2xl font-bold mb-4">Chapters</h2>
            <table class="min-w-full border border-gray-300">
                <tbody>
                    <% chapters.forEach((chapter, index) => { %>
                        <tr class="border-b border-gray-300">
                            <td class="py-2 px-4 text-left"><%= index + 1 %></td>
                            <td class="py-2 px-4 text-left"><%= chapter.title %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>

    </div>

</body>

</html>
