<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= chapter.title %> - Chapter Overview</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="font-sans bg-gray-100">

    <!-- Navigation Bar -->
    <!-- Add your navigation bar if needed -->

    <div class="container mx-auto mt-8 p-4">

        <!-- Chapter Overview -->
        <div class="text-center mb-8">
            <h2 class="text-3xl font-bold mb-2"><%= chapter.title %> Overview</h2>
        </div>

        <!-- Modules and Pages Section -->
        <div class="flex flex-col items-center">
            <% modulesWithPages.forEach(module => { %>
                <div class="bg-white p-4 rounded-md shadow-md mb-4 w-full">
                    <h3 class="text-xl font-semibold mb-2">Module: <%= module.title %></h3>
                    <ul>
                        <% module.Pages.forEach(page => { %>
                            <li class="text-blue-500">
                                <a href="/page/<%= page.id %>"><%= page.title %></a>
                                <% if (page.Status && page.Status) { %>
                                    <span class="text-green-500">Completed</span>
                                <% } %>
                            </li>
                        <% }) %>
                    </ul>
                </div>
            <% }) %>
        </div>

    </div>

</body>

</html>
