<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= course.courseName %> - Course Entry</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .truncate-overflow {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
        }

        .progress-bar {
            width: 100%;
            background-color: #ddd;
            height: 15px;
            position: relative;
            margin-top: 10px;
            border-radius: 1em;
        }

        .progress-bar-fill {
            height: 100%;
            width: <%= completionPercentage %>%;
            background-color: #000000;
            position: absolute;
            border-radius: 1em;
        }

        .percentage-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #118833;
            font-weight:bold;
        }

        
    </style>
</head>

<body class="font-sans bg-gray-100">
    <%- include('flash-messages.ejs') %>
    <div class="flex justify-center gap-2 mt-2">
        <button class="bg-black text-blue-100 px-4 py-2 font-bold hover:bg-gray-900">
            <a href="/dashboard" class="flex items-center gap-2 text-white"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
              </svg>
              Back to Dashboard</a>
        </button>
    </div>
    <div class="container mx-auto mt-8 p-4">

        
        <div class="text-center mb-8">
            
            <h2 class="text-4xl font-bold mb-2"><%= course.courseName %></h2>
            <p class="text-gray-700 text-lg mb-4">Instructor: <%= instructor.firstName %> <%= instructor.lastName %></p>
        </div>

        <div class="mb-8 mx-auto max-w-md p-4 bg-white rounded-md shadow-md">
            <h3 class="text-xl font-semibold mb-2">Course Status</h3>
            <p class="text-gray-700">Status: <%= (completionPercentage.toFixed(2) < 100.00) ? "In Progress" : "Completed" %> </p>
            <p class="text-gray-700">End Date: <%= course.endDate %></p>
            <p class="font-semibold mb-2">Completion Percentage: <%= completionPercentage.toFixed(2) %>%</p>
            <div class="progress-bar">
                <div class="progress-bar-fill"></div>
            </div>
        </div>

        <div class="mx-auto max-w-3xl p-4 bg-white rounded-md shadow-md">
            <h3 class="text-xl font-semibold mb-2">Chapter List</h3>
            <ul>
                <% chapters.forEach(chapter => { %>
                    <li class="mb-2 flex justify-between items-center">
                        <span class="truncate-overflow">
                            <%= chapter.title %>
                        </span>
                        <a href="/chapter-overview/<%= chapter.id %>" class="text-blue-500">
                            Go to Chapter
                        </a>
                    </li>
                <% }) %>
            </ul>
        </div>

        

    </div>

</body>

</html>
